body{
    color:#000000;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;

}

main[role="main-content"] {
    padding-left: 30px;
    padding-right: 30px;
    min-height: calc(100vh);
    position: relative;
}

section[role="pagination-section"] {
	display: flex;
    justify-content: center;
    height: 100px;
}

/* .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px;
    background: #EEEEEE;
} */

.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.header {
    width: 100%;
    text-align: center;
}

/* todo */

.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
    width: 400px;
}

.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}

.form-control{
    border-radius:0;
}

li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li:hover {
    background: #d3d3d336;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.list-items {
    padding: 20px;
    -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25), 0 9px 7px rgba(0, 0, 0, 0);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25), 0 9px 7px rgba(0, 0, 0, 0);
}

button.close {
    position: absolute;
    left: 90%;
}

button.close:hover {
    color: red;
}

button.close:focus {
    outline: none;
}